<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/styles.css">
  <title>Administrador de Usuarios</title>
</head>

<body>
  <header>
    <div class="cajaheader">
      <img src="imagenes/LogoTecNM.jpg" alt="Logo TecNM" id="LogoTecNM" />
      <h2>SOFTNI
        <br>
        Administración de usuarios
      </h2>
      <img src="imagenes/LogoCENIDET.jpg" alt="Logo CENIDET" id="LogoCENIDET" />
    </div>
  </header>

  <div class="container">
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
      <h4>Datos del Usuario</h4>
      <form action="/admin/crear" method="POST">
        <div class="col-md-6" style="display: none">
          <label for="idUsuario" class="form-label">ID</label>
          <input id="idUsuario" name="idUsuario" type="number" class="form-control" required value=<%=lastid %>>
        </div>
        <div class="col-md-6">
          <label for="userName" class="form-label">Nombre de usuario</label>
          <input id="userName" name="userName" type="text" class="form-control" required>
        </div>
        <div class="col-md-6">
          <label for="password" class="form-label">Contraseña</label>
          <input id="password" name="password" type="password" class="form-control" required>
        </div>
        <div class="col-md-6" style="display: none">
          <label for="dateTimeLogin" class="form-label">Ultimo login</label>
          <input id="dateTimeLogin" name="dateTimeLogin" type="datetime" class="form-control" required>
        </div>

        <!-- <div class="col-md-6">
          <label for="rolUser" class="form-label">Rol</label>
          <input id="rolUser" name="rolUser" type="text" class="form-control" required>
        </div> -->
        <Br>
        <div class="col-md-6">
          <label for="rolUser" class="form-label">Rol</label>
          <select id="rolUser" name="rolUser">
            <option value="AdministradorTI">Administrador TI</option>
            <option value="PrestatarioSolicitante">Prestatario solicitante</option>
            <option value="EstructuradorCredito">Estructurador de crédito</option>
            <option value="DictaminadorCumplimientoLegal">Dictaminador de cumplimiento legal</option>
            <option value="DictaminadorDocumental">Dictaminador documental</option>
            <option value="AdministradorProyectos">Administrador de proyectos</option>
            <option value="DictaminadorTecnico">Dictaminador Técnico</option>
            <option value="Prestatario">Prestatario</option>
            <option value="GrupoInversionistas">Grupo de Inversionistas</option>
            <option value="Dirección">Dirección</option>
          </select>
        </div>


        <div class="col-md-6" style="display: none">
          <label for="fechaCreacion" class="form-label">Fecha de Creacion</label>
          <input id="fechaCreacion" name="fechaCreacion" type="datetime" class="form-control" required>
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label">email</label>
          <input id="email" name="email" type="email" class="form-control" required>
        </div>
        <div class="col-md-6">
          <label for="telefono" class="form-label">Telefono</label>
          <input id="telefono" name="telefono" type="number" class="form-control" required>
        </div>
    </div>

  </div>
  <div class="botonRegistrar">
    <button type="submit" class="btn btn-guardar btn-lg "><i class="bi bi-save"></i>Registrar Usuario</button>
  </div>
  </form>
  <!-- Tabla Usuarios  -->
  <table id="tablaUsuarios" class="table mt-4">
    <thead>
      <tr>
        <th style="display: none;">ID Mongo</th>
        <th>ID</th>
        <th>Nombre de usuario</th>
        <th>password</th>
        <th>Ultimo Acceso</th>
        <th>Rol</th>
        <th>Fecha de Creacion</th>
        <th>email</th>
        <th>telefono</th>
      </tr>
    </thead>
    <tbody><% usuarios.forEach( (usuario)=> { %><tr>
          <td style="display: none;"><%= usuario._id %></td>
          <td><%= usuario.idUsuario %></td>
          <td><%= usuario.userName %></td>
          <td class="hidetext"><%= usuario.password %></td>
          <td><%= usuario.dateTimeLogin %></td>
          <td><%= usuario.rolUser %></td>
          <td><%= usuario.fechaCreacion %></td>
          <td><%= usuario.email %></td>
          <td><%= usuario.telefono %></td>
          <td>
            <a type="button" class="btnEditar btn btn-outline-primary bi bi-pencil"></a>
            <a href="/admin/borrar/<%= usuario._id %>" class="btn btn-outline-danger bi bi-trash"></a>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
  </div>

  <!-- Modal para Editar   -->
  <div id="modalUsuario" class="modal fade" tabindex="-1" aria-labelledby="modalUsuario" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="exampleModalLabel">Editar Info</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/admin/editar" method="POST">
            <input name="id_editar" id="id_editar" type="text" hidden>
            <div class="mb-3">
              <label for="idUsuario_editar" class="col-form-label" hidden>ID:</label>
              <input id="idUsuario_editar" name="idUsuario_editar" type="number" class="form-control" value="" hidden>
            </div>
            <div class="mb-3">
              <label for="userName_editar" class="col-form-label">Nombre de usuario:</label>
              <input id="userName_editar" name="userName_editar" type="text" class="form-control" value="">
            </div>
            <div class="mb-3">
              <label for="password_editar" class="col-form-label">Contraseña:</label>
              <input id="password_editar" name="password_editar" type="password" class="form-control" value="">
            </div>
            <input name="dateTimeLogin_editar" id="dateTimeLogin_editar" type="datetime" hidden>
            <div class="mb-3">
              <label for="rolUser_editar" class="col-form-label">Rol:</label>
                <select id="rolUser_editar" name="rolUser_editar">
                  <option value="AdministradorTI">Administrador TI</option>
                  <option value="PrestatarioSolicitante">Prestatario solicitante</option>
                  <option value="EstructuradorCredito">Estructurador de crédito</option>
                  <option value="DictaminadorCumplimientoLegal">Dictaminador de cumplimiento legal</option>
                  <option value="DictaminadorDocumental">Dictaminador documental</option>
                  <option value="AdministradorProyectos">Administrador de proyectos</option>
                  <option value="DictaminadorTecnico">Dictaminador Técnico</option>
                  <option value="Prestatario">Prestatario</option>
                  <option value="GrupoInversionistas">Grupo de Inversionistas</option>
                  <option value="Dirección">Dirección</option>
                </select>
            </div>
            <input name="fechaCreacion_editar" id="fechaCreacion_editar" type="datetime" hidden>
            <div class="mb-3">
              <label for="email_editar" class="col-form-label">email:</label>
              <input id="email_editar" name="email_editar" type="email" class="form-control" value="">
            </div>
            <div class="mb-3">
              <label for="Telefono_editar" class="col-form-label">Telefono:</label>
              <input id="Telefono_editar" name="Telefono_editar" type="number" class="form-control" value="">
            </div>


        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <footer>
    <%- include('./layouts/footer'); %>
  </footer>


  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script src="js/code.js"></script>
</body>

</html>