<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SEGUIMIENTO DE CRÉDITO</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
  <header>
    <div class="cajaheader">
      <img src="imagenes/LogoTecNM.jpg" alt="Logo TecNM" id="LogoTecNM" />
      <div>
        <h2>SOFTNI-SEGUIMIENTO DE CRÉDITO</h2>
        <%- include('./layouts/navbar'); %>
      </div>
      <a href="/logout">Cerrar Sesión</a>
      <img src="imagenes/LogoCENIDET.jpg" alt="Logo CENIDET" id="LogoCENIDET" />
    </div>
  </header>
  <div class="registroDatos">
    <div class="BuscadorCliente">
      <label for="NumCliente">N° de cliénte</label>
      <input type="number" id="NumCliente" />
      <button type="button" class="btn btn-primary">
        <i class="bi bi-search"></i>
    </div>
    <div class="BuscadorProyecto">
      <label for="NumProyecto">N° de Proyecto</label>
      <input type="number" id="NumProyecto" />
      <button type="button" class="btn btn-primary">
        <i class="bi bi-search"></i>
    </div>
    <div>
      <label for="ContratoPrestatario:">Contrato del prestatario::</label>
      <input type="text" name="ContratoPrestatario" id="ContratoPrestatario" disabled />
    </div>
    <div>
      <label for="ContratoProyecto:">Contrato del proyecto::</label>
      <input type="text" name="ContratoProyecto" id="ContratoProyecto" disabled/>
    </div>
  </div>
  <!-- tabla de seguimiento contendra encabezado de verificacion y check box conteniendo flujos, finanzas
  fideicomiso, documental, tecnica, legal -->
  <table>
    <tr>
      <th>Parametro</th>
      <th>Verificado</th>
    </tr>
    <tr>
      <td>Flujos</td>
      <td><input type="checkbox" name="Flujos" id="Flujos" disabled /></td>
    </tr>
    <tr>
      <td>Finanzas</td>
      <td><input type="checkbox" name="Finanzas" id="Finanzas" disabled /></td>
    </tr>
    <tr>
      <td>Fideicomiso</td>
      <td><input type="checkbox" name="Fideicomiso" id="Fideicomiso" disabled /></td>
    </tr>
    <tr>
      <td>Documental</td>
      <td><input type="checkbox" name="Documental" id="Documental" disabled /></td>
    </tr>
    <tr>
      <td>Tecnica</td>
      <td><input type="checkbox" name="Tecnica" id="Tecnica" disabled /></td>
    </tr>
    <tr>
      <td>Legal</td>
      <td><input type="checkbox" name="Legal" id="Legal" disabled /></td>
    </tr>
  </table>
  <!-- Tabla Proyecto  -->
  <table id="tablaUsuarios" class="table mt-4">
    <thead>
      <tr>
        <th style="display: none;">ID Mongo</th>
        <th>ID</th>
        <th>Nombre de usuario</th>
        <th>password</th>
        <th>Ultimo Acceso</th>
        <th>Rol</th>
        <th>Fecha de Creacion</th>
        <th>email</th>
        <th>telefono</th>
      </tr>
    </thead>
    <tbody><% usuarios.forEach( (usuario)=> { %><tr>
          <td style="display: none;"><%= usuario._id %></td>
          <td><%= usuario.idUsuario %></td>
          <td><%= usuario.userName %></td>
          <td class="hidetext"><%= usuario.password %></td>
          <td><%= usuario.dateTimeLogin %></td>
          <td><%= usuario.rolUser %></td>
          <td><%= usuario.fechaCreacion %></td>
          <td><%= usuario.email %></td>
          <td><%= usuario.telefono %></td>
          <td>
            <a type="button" class="btnEditar btn btn-outline-primary bi bi-pencil"></a>
            <a href="/admin/borrar/<%= usuario._id %>" class="btn btn-outline-danger bi bi-trash"></a>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
  </div>
  <footer>
    <%- include('./layouts/footer'); %>
  </footer>


  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
</body>

</html>